@page "/"
@using

<PageTitle>題目產生器</PageTitle>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<h1>題目</h1>
<p id="root">

</p>

@{

}
