@page "/"
@using Gsat.Units

<PageTitle>題目產生器</PageTitle>
<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<style>
    li {
        line-height: 2em;
    }
</style>
<h1>題目</h1>

@{
    var unit = new DivideFloating();
    var q    = unit.GetQuestion(2);
}

<p> @q.question </p>
<ol>
    @foreach (var t in q.selections)
    {
        <li> @t </li>
    }
</ol>
<p> 答案是 : @q.answer</p>
<p style="white-space: preserve"> @q.explanation </p>